section.best {
	background: black;
}

.sub {
	margin-bottom: 80px;
	text-align: center;
	color: grey;
	font-size: 2rem;
}

.player-best {
	font-family: 'League Gothic', 'Helvetica', sans-serif;
	letter-spacing: 1px;
	@include column(6);
	p {
		color: white;
		font-size: 5rem;
		margin: 0;
		line-height: 1;
	}
	.sc-number {
		color: $yellow;
		font-size: 10rem;
	}
	.points, .year {
		color: grey;
		font-size: 3rem;
	}
	.points {
		margin-left: -10px;
	}
}

.player-best .ov-number {
	color: $red;
	font-size: 10rem;
}

.name-year {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}

.points-total {
	float: left;
}

.best-season {
	margin: 40px 0 120px;
}

.best-season:last-child {
	margin-bottom: 0;
}

p.norm {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: lightgrey;
	letter-spacing: 0;
	margin-top: 10px;
	clear: both;
}

#sc-doughnut, #ov-doughnut {
	width: 100%;
}

.gva-container {
	position: relative;
}

.gva {
	position: absolute;
	z-index: 9;
	top: 40%;
	left: 20px;
	// transform: translateY(-80%);
}

.sc span {
	color: $yellow;
	font-size: 8rem;
}

.ov span {
	color: $red;
	font-size: 8rem;
}


/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 768px) {
	.player-best {
		@include column(12);
	}

	#sc-doughnut {
		margin-bottom: 150px;
	}

	.gva {
		top: 20%;
	}
}

@media all and (max-width: 400px) {

	.player-best .name {
		font-size: 3.5rem;
	}

	.name-year {
		margin-top: 24px;
	}

	.sc span {
		font-size: 5rem;
	}

	.ov span {
		font-size: 5rem;
	}

	.gva {
		top: 30%;
		left: 10px;
	}
}


