@import 'setup';
@import 'grid';
@import 'typography';
@import 'header';
@import 'compare';


/*
====================================
Default Styling
====================================
*/

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

body {
	color: #666;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a, a:active, a:focus {
   outline: none;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

section {
	padding: 80px 10px;
}






/*
====================================
Media Queries
====================================
*/