@import 'setup';
@import 'grid';
@import 'typography';
@import 'year-select';

/*
====================================
Default Styling
====================================
*/

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

body {
	color: #666;
	padding: 0 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a, a:active, a:focus {
   outline: none;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.chart-container {
	@include column(8);
	@include push(2);
}

canvas {
	position: absolute;
}





/*
====================================
Media Queries
====================================
*/